<ion-view view-title="New Entry">
	<ion-content>
		<form style="">
			<label style="" name="date" class="item item-input">
				<span class="input-label">Datum</span>
				<input placeholder="" type="date">
			</label>
			<label style="" name="item" class="item item-input">
				<span class="input-label">Einkauf</span>
				<input placeholder="" type="text">
			</label>
			<label style="" name="merchant" class="item item-input">
				<span class="input-label">Händler</span>
				<input placeholder="" type="text">
			</label>
			<label style="" name="amount" class="item item-input">
				<span class="input-label">Betrag</span>
				<input placeholder="" type="text">
			</label>
		</form>
		<div style="" class="button-bar">
			<a style="" class="button button-balanced button-block" href="#/app/itemlists">Save</a>
			<a style="" class="button button-assertive button-block" href="#/app/itemlists">Cancel</a>
		</div>
	</ion-content>
</ion-view>
